.contentsTitle {
    color: brown;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.drinkMenu,
.foodMenu {
    width: 80%;
    display: flex;
    justify-content: center;
}

.menuContents {
    display: inline-block;
    justify-content: center;
    padding: 15px;
}

.plus,
.minus {
    border: 1px solid #000;
    margin: 3px;
}

.plus:hover,
.plus:focus,
.plus:active {
    color: #fff;
    background-color: #0070f4;
    border:none;
}


.minus:hover,
.minus:focus,
.minus:active{
    color: #fff;
    background-color:#f00;
    border: none;
}