.header{
    padding: 10px;
    margin-bottom: 20px;
}

.text {
    display: flex;
    justify-content: center;
    color: rgb(119, 73, 4);
    font-size: 2rem;
}
.footerList {
    display: flex;
    justify-content: right;
    list-style: none;
}

.list {
    margin-right: 15px;
    border-bottom: 0.5px solid #eaeaea;
}

.list:hover,
.list:focus,
.list:active {
    color: #0070f3;
    border-color: #0070f3;
}