.footer {
    margin-top: 20px;
    width: 100%;
}

.cafeFooter {
    display: flex;
    justify-content: center;
}

.footerLogo{
    font-size: small;
}

.footerList {
    display: flex;
    margin-top: 10px;
    justify-content: right;
}

.list {
    margin-right: 10px;
    border-bottom: 0.5px solid #eaeaea;
}

.list:hover,
.list:focus,
.list:active {
    color: #0070f3;
    border-color: #0070f3;
}